[data-caisy-inspect-mode="true"] .caisy-connection-indicator-container {
  display: flex;
}

.caisy-connection-indicator-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99999999999 !important;
}

.caisy-connection-indicator {
  overflow: hidden;
  position: absolute;
  pointer-events: all;
  top: calc(100vh - 28px - 48px);
  border-radius: 8px;
  height: 48px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.14);
  transition: height cubic-bezier(0.34, 1.56, 0.64, 1) 0.3s;
  transition: width cubic-bezier(0.34, 1.56, 0.64, 1) 0.3s;
  height: 48px;
  width: 221px;
}

.caisy-connection-indicator-header {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #e8eff3;
  padding: 12px;
}

.caisy-connection-indicator-description {
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  color: #567a98;
}

.caisy-connection-indicator-icon-drag {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caisy-connection-indicator-content {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.caisy-connection-indicator-content.--connected {
  color: #35aa17;
}

.caisy-connection-indicator-content.--disconnected {
  color: #ed3e3e;
}

.caisy-connection-indicator-content.--reconnecting {
  color: #f7a300;
}
